#results-container {
    display: flex;
    flex-direction: column;
    width: 33.33%;
    margin: auto;
    overflow-wrap: break-word;
}

#results-container>div {
    border: 2px solid #d6d5d5;
    border-radius: 5px;
    margin-bottom: 30px;
}

.result {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	padding: 10px;
}

.result > div {
	padding: 5px;
}

.result .space-title {
	color: #344B47;
    font-weight: bold;
    text-transform: capitalize;
}

.result .space-timing {
	font-weight: bold;
    color: #96B1AB;
    font-size: 13px;
}

.result .action-btn button {
	width: 100%;
	padding: 5px;
}

#listener-count {
    color: gray;
    font-size: 10px;
}

.time {
    color: #344B47;
}

#host-info-container {
	display: flex;
	align-items: center;
}

#host-info-container #creator-name, #host-info #name {
	color: #344B47;
	font-weight: bold;
	font-size: 13px;
}

#host-info {
	display: flex;
	align-items: center;
}

#host-info #img {
	width: 30px;
	height: 30px;
}

#host-info #img img {
	border-radius: 50%;
    border: 2px solid #d6d5d5;
}

#result-paginator {
  display: flex;
  width: 75%;
  margin: auto auto 30px auto;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
}

#result-paginator > button {
  font-size: 1em;
  font-weight: bold;
  margin: 10px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  user-select: none;
  background: #344B47;
}

#result-paginator > div:hover {
  text-decoration: underline;
}

.activePageBtn {
	border: 2px solid #344B47 !important;
    background: #fff !important;
    color: #344B47 !important;
    pointer-events: none;
}